<<<<<<< HEAD
<p1>Список всех карточек</p1>
<ul class="cards">
  <% @cards.each do |card| %>
    <li>
    <%=  card.translated_text %>
    <%=  card.original_text %>
    <%=  card.review_date.strftime("%m/%d/%Y") %>
    <%= link_to "Destroy", card_path(card), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Edit', edit_card_path(card) %>
    </li>
  <% end %>
</ul>

=======
<h1>All cards</h1>
<ul class="cards">
  <% @cards.each do |card| %>
    <li>
    <%= link_to card.translated_text, card %>
    <%= link_to card.original_text, card %>
    <%= link_to card.review_date.strftime("%m/%d/%Y"), card %>
    </li>
  <% end %>
</ul>
>>>>>>> af522a6195add78cf4cecd2d5b6337d5ebb0a3c1
