<!DOCTYPE html>
<html>
<head>     
  <title> Флэшкарточер </title>  
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<<<<<<< HEAD
  <%= csrf_meta_tags %>
=======
>>>>>>> af522a6195add78cf4cecd2d5b6337d5ebb0a3c1
</head>
<body>
  <div class="container" style="margin-top: 80px; "  >
   <header>
     <h1> Флэшкарточкер </h1>
   </header>
 </div>
<div class="navbar navbar-inverse navbar-fixed-top">
  <nav class="navbar-inner">
   <ul class="pager">
 	<li><%= link_to "Все Карточки", cards_path %></li>
<<<<<<< HEAD
 	<li><%= link_to "Добавить карточку", new_path %></li>
=======
 	<li><a href="#">Добавить карточку</a></li>
>>>>>>> af522a6195add78cf4cecd2d5b6337d5ebb0a3c1
   </ul>
  </nav>
</div> 
<%= yield %> 
</body>
</html>

